In [ ]:
import pandas

In [ ]:
url="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/cust.csv"

In [ ]:
df=pandas.read_csv(url)
print(df)

    custno                 custnm prodid      paymode
0       12               Joe Root  hp419   netbanking
1       13           Boris Becker  tg765          cod
2       17     Michael Schumacher  lt532  credit card
3       23  Arnold Schwarzenegger  hp419  credit card
4       26            Jos Buttler  lt532  credit card
5       32       Rebecca Ferguson  ip627   netbanking
6       37             Bill Gates  ms488   debit card
7       41          Mohamed Salah  sg375  credit card
8       53      Ferdinand Porsche  tg765  credit card
9       58             Tom Cruise  ss210          cod
10      67          Roger Federer  gt261  credit card
11      74           Chris Woakes  dm298  credit card
12      75        Charles Leclerc  tg765   netbanking

In [ ]:
url="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/Flipkart_Mobiles.csv"

In [ ]:
df=pandas.read_csv(url)
print(df)

        Brand   Model            Color Memory Storage  Rating  Selling Price  \
0        OPPO     A53  Moonlight Black   4 GB   64 GB     4.5          11990
1        OPPO     A53       Mint Cream   4 GB   64 GB     4.5          11990
2        OPPO     A53  Moonlight Black   6 GB  128 GB     4.3          13990
3        OPPO     A53       Mint Cream   6 GB  128 GB     4.3          13990
4        OPPO     A53   Electric Black   4 GB   64 GB     4.5          11990
...       ...     ...              ...    ...     ...     ...            ...
3109  SAMSUNG  M52 5G    Blazing Black   6 GB  128 GB     4.3          25990
3110  SAMSUNG  M52 5G         Icy Blue   6 GB  128 GB     4.3          25489
3111  SAMSUNG  M52 5G         Icy Blue   8 GB  128 GB     4.3          27239
3112  SAMSUNG  M52 5G      Slate Black   8 GB  128 GB     4.2          22989
3113  SAMSUNG  M52 5G         Sky Blue   8 GB  128 GB     4.2          20350

      Original Price
0              15990
1              15990
2              17990
3              17990
4              15990
...              ...
3109           25990
3110           28449
3111           31489
3112           22989
3113           22595

[3114 rows x 8 columns]

In [ ]:
#needs to be uploaded to colab files everytime
url="NetflixOriginals.csv"
df=pandas.read_csv(url)
print(df)

                                           Title                  Genre  \
0                                Enter the Anime            Documentary
1                                    Dark Forces               Thriller
2                                        The App  Science fiction/Drama
3                                 The Open House        Horror thriller
4                                    Kaali Khuhi                Mystery
..                                           ...                    ...
579        Taylor Swift: Reputation Stadium Tour           Concert Film
580  Winter on Fire: Ukraine's Fight for Freedom            Documentary
581                      Springsteen on Broadway           One-man show
582    Emicida: AmarElo - It's All For Yesterday            Documentary
583     David Attenborough: A Life on Our Planet            Documentary

     Runtime  IMDB Score                  Language
0         58         2.5          English/Japanese
1         81         2.6                   Spanish
2         79         2.6                   Italian
3         94         3.2                   English
4         90         3.4                     Hindi
..       ...         ...                       ...
579      125         8.4                   English
580       91         8.4  English/Ukranian/Russian
581      153         8.5                   English
582       89         8.6                Portuguese
583       83         9.0                   English

[584 rows x 5 columns]