In [ ]:
import numpy
import pandas

In [ ]:
df=pandas.DataFrame(numpy.random.rand(10,4),columns=['mumbai','hyderabad','london','dubai'])

In [ ]:
print(df)

     mumbai  hyderabad    london     dubai
0  0.072591   0.256328  0.965233  0.394584
1  0.972325   0.780313  0.391112  0.016573
2  0.024323   0.372673  0.577141  0.142398
3  0.310416   0.345274  0.787668  0.653164
4  0.962965   0.073208  0.781629  0.613103
5  0.322927   0.133827  0.293439  0.747672
6  0.893242   0.715556  0.687597  0.103304
7  0.290990   0.325555  0.135572  0.966612
8  0.805455   0.744434  0.934889  0.582288
9  0.069132   0.762494  0.895667  0.464637