In [ ]:
import pandas

In [ ]:
url="http://sohamspring.azurewebsites.net/api/customers/all"
df=pandas.read_json(url)
print(df)

    custno                 custnm         city prodid      paymode
0        1               Joe Root       london  sk181   netbanking
1        2           Boris Becker       berlin  ho162         cash
2        3     Michael Schumacher       berlin  bm201  credit card
3        4  Arnold Schwarzenegger   los angles  to191  credit card
4        5            Jos Buttler   manchester  vw173  credit card
5        6       Rebecca Ferguson     new york  bm185   netbanking
6        7            Steffi Graf    stuttgart  vw171   debit card
7        8           Keanu Reeves        tokyo  to191  credit card
8        9       Sabastian Vettel   heppenheim  sk183  credit card
9       10             Tom Cruise      chicago  bm201         cash
10      11          Roger Federer    amsterdam  ho161  credit card
11      12            Emily Blunt       london  vw172  credit card
12      13         Shah Rukh Khan    new delhi  tt153   debit card
13      14             A R Rahman      chennai  hd142         cash
14      15                   Tabu    hyderabad  vw173   debit card
15      16           Shabana Azmi       mumbai  ss210   debit card
16      17                  Rekha      chennai  hd141         cash
17      18       Amitabh Bachchan    allahabad  cs682         cash
18      19             Imran Khan       lahore  to191   netbanking
19      20           Dipika Singh       mumbai  to193   netbanking
20      21              Alia Bhat      lucknow  hd142         cash
21      22        Serena Williams     new york  ss210   netbanking
22      23         Max Verstappen       berlin  rb739         cash
23      24        Charles Leclerc  monte carlo  fr133   debit card
24      25     Sylvester Stallone      Kolkata  ms134         cash
25      26          Anne Hathaway         Agra  ms131   netbanking
26      27         Genelia DSouza        Latur  bm202         cash

In [ ]:
#retrieve data of single column from the data frame
print(df['custnm'])

0                  Joe Root
1              Boris Becker
2        Michael Schumacher
3     Arnold Schwarzenegger
4               Jos Buttler
5          Rebecca Ferguson
6               Steffi Graf
7              Keanu Reeves
8          Sabastian Vettel
9                Tom Cruise
10            Roger Federer
11              Emily Blunt
12           Shah Rukh Khan
13               A R Rahman
14                     Tabu
15             Shabana Azmi
16                    Rekha
17         Amitabh Bachchan
18               Imran Khan
19             Dipika Singh
20                Alia Bhat
21          Serena Williams
22           Max Verstappen
23          Charles Leclerc
24       Sylvester Stallone
25            Anne Hathaway
26           Genelia DSouza
Name: custnm, dtype: object

In [ ]:
print(df[['custnm','city']])

                   custnm         city
0                Joe Root       london
1            Boris Becker       berlin
2      Michael Schumacher       berlin
3   Arnold Schwarzenegger   los angles
4             Jos Buttler   manchester
5        Rebecca Ferguson     new york
6             Steffi Graf    stuttgart
7            Keanu Reeves        tokyo
8        Sabastian Vettel   heppenheim
9              Tom Cruise      chicago
10          Roger Federer    amsterdam
11            Emily Blunt       london
12         Shah Rukh Khan    new delhi
13             A R Rahman      chennai
14                   Tabu    hyderabad
15           Shabana Azmi       mumbai
16                  Rekha      chennai
17       Amitabh Bachchan    allahabad
18             Imran Khan       lahore
19           Dipika Singh       mumbai
20              Alia Bhat      lucknow
21        Serena Williams     new york
22         Max Verstappen       berlin
23        Charles Leclerc  monte carlo
24     Sylvester Stallone      Kolkata
25          Anne Hathaway         Agra
26         Genelia DSouza        Latur

In [ ]:
print(df.loc[3])

custno                         4
custnm     Arnold Schwarzenegger
city                  los angles
prodid                     to191
paymode              credit card
Name: 3, dtype: object

In [ ]:
print(df.loc[2:5])

   custno                 custnm        city prodid      paymode
2       3     Michael Schumacher      berlin  bm201  credit card
3       4  Arnold Schwarzenegger  los angles  to191  credit card
4       5            Jos Buttler  manchester  vw173  credit card
5       6       Rebecca Ferguson    new york  bm185   netbanking

In [ ]:
print(df.loc[9,'custnm'])

Tom Cruise

In [ ]:
print(df.loc[13,['custnm','city']])

custnm    A R Rahman
city         chennai
Name: 13, dtype: object

In [ ]:
print(df.loc[6:11,'custnm'])

6          Steffi Graf
7         Keanu Reeves
8     Sabastian Vettel
9           Tom Cruise
10       Roger Federer
11         Emily Blunt
Name: custnm, dtype: object