In [ ]:
import pandas

In [ ]:
data={
    'A':[10,20,30,40,50],
    'B':[5,15,25,35,45]
}
df=pandas.DataFrame(data)
print(df)

    A   B
0  10   5
1  20  15
2  30  25
3  40  35
4  50  45

In [ ]:
print(df+3)

    A   B
0  13   8
1  23  18
2  33  28
3  43  38
4  53  48

In [ ]:
print(df)

    A   B
0  10   5
1  20  15
2  30  25
3  40  35
4  50  45

In [ ]:
print(df['A']-df['B'])

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [ ]:
print(df['A']**2)

0     100
1     400
2     900
3    1600
4    2500
Name: A, dtype: int64

In [ ]:
print(df.mean())

A    30.0
B    25.0
dtype: float64

In [ ]:
print(df.median())

A    30.0
B    25.0
dtype: float64

In [ ]:
print(df.sum())

A    150
B    125
dtype: int64

In [ ]:
print(df.min())

A    10
B     5
dtype: int64

In [ ]:
print(df.max())

A    50
B    45
dtype: int64

In [ ]:
print(df.std())

A    15.811388
B    15.811388
dtype: float64

In [ ]:
print(df.count())

A    5
B    5
dtype: int64

In [ ]:
print(df.cumsum())

     A    B
0   10    5
1   30   20
2   60   45
3  100   80
4  150  125

In [ ]:
print(df)
print(df.sum())
print(df.sum(axis=1))

    A   B
0  10   5
1  20  15
2  30  25
3  40  35
4  50  45
A    150
B    125
dtype: int64
0    15
1    35
2    55
3    75
4    95
dtype: int64

In [ ]:
import numpy

In [ ]:
print(df.apply(numpy.sqrt))

          A         B
0  3.162278  2.236068
1  4.472136  3.872983
2  5.477226  5.000000
3  6.324555  5.916080
4  7.071068  6.708204